<!-- lista-pessoas.component.html -->
<table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>CPF</th>
        <th>Telefone 1</th>
        <th>Telefone 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.dataNascimento }}</td>
        <td>{{ pessoa.cpf }}</td>
        <td>{{ pessoa.telefone1 }}</td>
        <td>{{ pessoa.telefone2 }}</td>
      </tr>
    </tbody>
  </table>
  